
{% block raw_image_row %}
	{% set cssRatio = '(1 / ('~form.vars.ratio~')) * 100%' %}

	<div class="raw-image-type" data-maxwidth="{{ form.vars.max_width }}" data-maxheight="{{ form.vars.max_height }}">

		{#Title#}
		{{ form_label(form) }}
		{{ form_errors(form) }}

		{# Preview window #}
		<div style="max-width: {{ form.vars.preview_max_width }};">
			<div class="raw-image-type-preview-wrapper"
				 style="padding-top:calc({{ cssRatio }});"
			>
				{# Image #}
				<div class="raw-image-type-preview">
					<div class="raw-image-type-preview-message" data-empty-message="{{ form.vars.empty_text }}"></div>
				</div>

				{# Clear #}
				<div class="raw-image-type-clear-wrapper">
					<button type="button" title="{{ form.vars.remove_text }}" data-action="clearRawImage">
						<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" class="svg-inline--fa fa-times fa-w-11" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512"><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg>
					</button>
				</div>
			</div>
		</div>

		{# Technical canva #}
		<canvas style="display: none"></canvas>

		{# Metas #}
		<div class="raw-image-metas-wrapper {{ form.vars.debug ? 'debug' }}" >
			{{ form_widget(form.file) }}
			{{ form_rest(form) }}
		</div>

		{#Global help#}
		{{ form_help(form) }}


	</div>




	{#LEGACY #}
{#	<div class="raw-image-type"#}
{#		 data-maxwidth="1920"#}
{#		 data-maxheight="1080"#}
{#	>#}
{#		#}{# Preview window #}
{#		<div#}
{#				style="margin-bottom: 8px; width: 100%; position:relative; padding-top:calc(9/16*100%); "#}
{#		>#}
{#			#}{# Image #}
{#			<div class="preview" style="position: absolute; width: 100%; height: 100%; top: 0; display: flex; justify-content: center; align-items: center; background-color: rgba(100,100,100,.05); border: 3px solid rgba(100,100,100,.05); background-size: contain; background-position: center; background-repeat: no-repeat;">#}
{#				<div class="preview-message" data-empty-message="No image" style="opacity: .8; font-style: italic;"></div>#}
{#			</div>#}
{#			#}{# Clear #}
{#			<div style="position: absolute; top:3px; right:3px;">#}
{#				<button type="button" class="btn btn-sm btn-light" title="Remove image" data-action="clearRawImage">#}
{#					<i class="fas fa-times"></i>#}
{#				</button>#}
{#			</div>#}
{#		</div>#}

{#		#}{# Visible fields #}
{#		{{ form_row(form.file) }}#}

{#		#}{# Technical canva #}
{#		<canvas style="display: none"></canvas>#}

{#		{{ form_rest(form) }}#}
{#	</div>#}
{% endblock %}
